<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Transaction</title>
	</head>
<body>
	<div th:if="${transaction != null}">
		<h2 th:inline="text">
			Transaction ID: [[${transaction.id}]]
				<span th:if="${transaction.type == 'D'}">(Debit)</span>
				<span th:if="${transaction.type == 'C'}">(Credit)</span>
		</h2>
		<div>
			Date: [[${transaction.date}]]
		</div>
		<div> 
			Amount: <span th:text="${transaction.type == 'C'} ? -${transaction.amount} : ${transaction.amount}"></span>
		</div>
		<div>
			Description: [[${transaction.description}]]
			
		</div>
		<div>
			<a href="/transactions">back</a>
		</div>
	</div>
	<div th:if="${transaction == null}">
		Transaction Not Found
		<br>
		<a href="/transactions">back</a>
	</div>
	
</body>
</html>